<template>
  <div class="rules">
    <h1>{{title}}</h1>
    <p>{{msg}}</p>
  </div>
</template>

<script>
  export default {
    name: 'Rules',
    data () {
      return {
        title: 'Rules',
        msg: 'Text'
      }
    }
  }
</script>

<style scoped>
</style>